@font-face {
  font-family: 'Helvetica Neue LT GEO 75 Bold Caps';
  src: url('./HelveticaNeueLTGEOCaps-75Bold.woff2') format('woff2'),
      url('./HelveticaNeueLTGEOCaps-75Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('./DejaVuSans.woff2') format('woff2'),
      url('./DejaVuSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}